<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remmel.recorder3d">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.remmel.recorder3d.ChooseActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.huawei.arengine.demos.common.ConnectAppMarketActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui" />
        </activity>
        <activity
            android:name="com.remmel.recorder3d.measure.MeasureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.remmel.recorder3d.recorder.RecorderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.remmel.recorder3d.recorder.preferences.RecorderPreferenceActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.remmel.recorder3d.dataset.DatasetActivity"/>
        <activity
            android:name="com.remmel.recorder3d.dataset.DatasetWebviewActivity"/>
    </application>
</manifest>
